
body {
    font-family: 'Raleway', sans-serif;
    margin: 0 auto;
    max-width: 1400px;
    padding: 0 30px;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 22px;
}

h2 {
    font-size: 18px;
}

H3 {
    font-size: 16px;
}

.prixnuitaside, .prixnuitaside3ecarte, .divetoiles{
    font-size: 14px;
}

li {
    list-style-type: none;
}

/* ---------------------- header ------------------- */
header {
    display: flex;
}

#logoentete, nav {
    width: 50%
}
#imglogoentete{
    margin: 45px 0 0px 55px;
    transform: translateX(-50%) translateY(-50%);
    width: 60px;
    height: 20px;
    padding: 0%;
}

nav {
    width: 100%;
    display: flex;
    justify-content: end;
}

#conteneurlinav {
    width: 300px;
    height: 50px;
    display: flex;
}

.lianav {
    display: flex;
    flex: 1;
    justify-content: center;
}

.lianav :hover {
    display: flex;
    border-top: 2px solid #0065FC;
    color: #0065FC;
    width: 100%;
    justify-content: center;
}

.anav {
    color: black;
    padding: 25px 0;

}

/* --------------------- main ---------------------- */

/* Texte haut */
#textehaut {
    margin: 30px 0 25px 0;
}
/* ------barre de recherche------- */

#barrederecherche {
    margin: 10px 0;
    display: flex;
}

#conteneurdotbdr {
    width: 50px;
    height: 48px;
    background-color:#D9D9D9;
    border-radius: 15px 0PX 0PX 15PX;
}

#dotbdr {
    transform: translateX(-50%) translateY(-50%);
    margin: 50% 50%;
}

#destination {
    height: 44px;
    font-size: 18px;
    font-weight: bold;
    border: 1px solid #D9D9D9;
    width: 100%;
}

::placeholder {
    color: black;
    padding-left: 20px;
}

#boutonrecherchebdr {
        height: 48px;
        color : white;
        background-color: #0065FC;
        border-radius: 0 15px 15px 0;
        font-size: 18px;
        font-weight: bold;
        padding: 14px;
        border: none;
}

#loupeicone {
    display: none;
}


/* ------- barre de filtres ------- */

#conteneurbdf {
    display: flex;
}
#barrefiltres {
    display: flex;
    align-items: center;
}

#divbtnfiltres {
    display: flex;
    justify-content: space-between;
}

.libtnfiltres {
    display: flex;
    align-items: center;
    border: 2px solid #DEEBFF;
    border-radius: 20px;
    height: 40px;
    font-size: 17px;
    font-weight: bold;
    margin-right: 35px;
    padding: 0 20px;
}

.libtnfiltres:hover {
    background-color: #DEEBFF;
}

.btnfiltres {
    display: flex;
    align-items: center;
}

.iconebtnfiltres {
    color:#0065FC;
    margin-right: 5px;
}

#divinfo {
    display: flex;
    margin-top: -10px;
    padding-bottom: 10px;
    align-items: center;
}

#infoentoure {
    border: 1px solid #D9D9D9 ;
    border-radius: 100%;
    padding: 8px 5px 10px 14px;
    color: #0065FC;
    height: 15px;
    width: 15px;
    margin-right: 5px;
}

/* ---------------- cartes mid --------------- */


#sectiontop{
    display: flex;
    justify-content: space-between;
} 

#ancrehebergements {
    margin-top: 40px;
}

article {
    width: 69%;
    height: auto;
    background-color: #D9D9D9;
    border-radius: 15px;
}

#listecarteshebergement {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    row-gap: 20px;
    margin-left: 4%;
    margin-right: 0%;
}

.imgcarteart {
    margin: 3px 3px 10px 1px;
    border-radius: 15px 15px 0 0;
    width: 99%;
    height: 56%;
    overflow: hidden;
}

.carte img {
    width: auto;
    min-width: 100%;
    height: 98%;
    min-height: 98%;
    object-fit: cover;
}

.carte {
    background-color: white;
    border-radius: 20px;
    border: 4px solid white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    width: 28%;
    height: 200px;
}

.textareacarteart h3 {
    margin-left: 2%;
    margin-top: 0px;
    margin-bottom: -5px;
    font-weight: bold;
}

.textareacarteart p {
    margin-bottom: 7px;
    font-size: 14px;
}

#listecarteshebergement a{
    color: black;
}

.divetoiles {
    margin-left: 2%;
}

.etoilepleine {
    color: #0065FC;
    font-size: 14px;
}

.etoilevide {
    color: #DEEBFF;
     font-size: 14px;  
}

article h1, article h2{
    margin-left: 4%;
    font-weight: bold;
}

article h2 {
    margin-top: 40px;
    margin-bottom: 30px;
}

/* --------------aside-------------- */


aside {
    background-color: #D9D9D9;
    width: 28%;
    height: auto;
    border-radius: 15px;
}

aside a{
    color: black;
}

#titreaside {
    display: flex;
    margin: 20px 20px 0px 20px;
    justify-content: space-between;
}

#iconetitreaside {
    color: #0065FC;
    font-size: 22px;
    width: 18px;
}

#conteneurcarteaside {
    margin: 0 20px;
}

.carteaside {
    display: flex;
    background-color: white;
    border-radius: 20px;
    width: 100%;
    margin-bottom: 20px;
    height: 144px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.imgcarteasidepc {
    width: 100%;
    height: 94%;
    border-radius: 20px 0 0 20px;
    margin: 3% 10px 3% 4px;
    object-fit: cover;
}

.photocarteaside {
    width: 40%
}

.textecarteaside {
    width: 60%;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}

.textupsideaside {
    align-items: flex-start;
    height: 70%;
}

.etoilesaside {
    align-items: flex-end;
    height: 30%;
}

.prixnuiteeaside {
    margin-top: -10px;
}
/* ---------------section activite -------------- */


#sectionactivites {
    width: 100%;
}
#cartesactivites {
    display: flex;
    justify-content: space-around;
    gap: 3%;
    width: 100%;
    height: 440px;
    margin-top: 20px;
}

#ancreactivites {
    margin-top: 50px;
    margin-bottom: 0px;
}
.carteactivite {
    height: 100%;
    width: 100%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}


.imgcarteactivite {
    width: 100%;
    height: 390px;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
}

.carteactivite h3 {
    color: black;
    margin:auto 0 auto 5% ;
}

#brmarseille {
    display: none;
}

/* --------------footer-------------- */

footer {
    display: flex;
    justify-content: space-around;
    margin-top: 60px;
    background-color: #D9D9D9;
}

.footdiv {
    margin-top: 15px;
}

.footdiv li {
    width: 100%;
    padding: 20px 0 10px 0;
}

.footdiv ul {
    padding-left: 0;
}

footer a {
    color: black;
    font-size: 16px;
}